.card {
  margin-bottom: 30px;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
ul.project-badge {
  padding: 0;
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;

  li {
    margin-right: 10px;
  }
}
