/*.container{
   display: inline-flex;
flex-direction: row;
   
  

}*/
.background{
   width:100%;
   height: 20vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 
}