.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.github:hover {
          color: #000000;
        }
        &.gmail:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}
